body {
    background-image: url(../images/openingBG.jpeg);
    background-size: cover;
}

.jumbotron{
    color:white;
    background-color: rgba(27, 27, 27, 0.6);
}
.container{
    color:white;
    background-color: rgba(15, 51, 104, 0.9);
}
.jumbotron > h1 {
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    font-weight: 800;
}
.jumbotron > p {
    color:white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;

} 

#mainArea > p > a {
    color:white;
    font-size: 48px;
}

.center-block{
    margin: auto;
    display: block;
}

.timer-style {
    color:white;
    font-size: 62px;
}

#answers-style {
    color:white;
    font-size: 40px;
}
#answers-style:hover{
    background-color: rgb(46, 94, 226, .4);
}

#question-style {
    font-size: 38px;
}